body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #BF3412;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}
header h1{
	color: whitesmoke;
	font-size: 50px;

}

header img{
	border-radius: 150px;
	width: 300px;
	border: 20px solid lightgray;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #e70d20;
	margin: 40px 0px 10px;
}

h2:hover{
	color: whitesmoke;
	background-color: lime;
}
}
a{
	color: #e70d20;
}

a:hover{
	color: #483d94;
}

footer{
	background-color: rebeccapurple;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: 0.5;
	background-color: transparent;
	color: navajowhite;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}